<!-- content -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- grid %>


<!-- message Block -->

<%# messages() %>


<!-- The Inventory Items Display -->

